{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
      <section class="masthead">
        <div class="container">
          <div class="masthead-subheading">Welcome To TLC AESTHETICS!</div>
          <div class="masthead-heading text-uppercase">Where we define beauty!</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="#book-appointment">Book Appointment</a>
        </div>
      </section>
{% endblock %}