{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12 square1" style="background-color: black; height: 42vh;">
        <img src="{{ MEDIA_URL }}circle3.svg" alt="..." class="square-img" id="square-img1"/>
        <div class="about-text">
          <h1>About</h1>
          <p>Elit sed vulputate mi sit amet mauris. Arcu odio ut sem nulla pharetra. Nisi scelerisque eu ultrices vitae. Dapibus ultrices in iaculis nunc sed augue lacus. Laoreet non curabitur gravida arcu ac. Eget velit aliquet sagittis id consectetur purus ut. Sit amet luctus venenatis lectus magna fringilla urna. Dolor morbi non arcu risus quis varius quam. Aenean sed adipiscing diam donec adipiscing tristique risus.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12 square2" style="background-color: black; height: 42vh;">
        <img src="{{ MEDIA_URL }}circle3.svg" alt="..." class="square-img" id="square-img2"/>
        <img src="{{ MEDIA_URL }}tara-modified.png" alt="..." class="tara-img"/>
      </div>
    </div>
    <div class="row">
      <div class="col square3" style="background-color: black; height: 35vh;">
        
      </div>
    </div>
  </div>
{% endblock %}