{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12 square1" style="background-color: black; height: 42vh;">
        <img src="{% static 'website/img/about/circle3.svg' %}" alt="..." class="square-img" id="square-img1"/>
        <div>

        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12 square2" style="background-color: black; height: 42vh;">
        <img src="{% static 'website/img/about/circle3.svg' %}" alt="..." class="square-img" id="square-img2"/>
        
      </div>
    </div>
    <div class="row">
      <div class="col square3" style="background-color: black; height: 35vh;">
        
      </div>
    </div>
  </div>
{% endblock %}